body {
    background-color: darkblue;
}

#landing {
    background-image: url(../images/sex-pistols_0.jpg);
    background-size: cover;
    height: 100vh;
}

h1 {
    color: #ffffff;
    font-size: 2em;
}
p {
    color: #ffffff;
}
